.navbar {
    border-radius: 0;
    margin-bottom: 20px;
}

.navbar-nav {
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.glass-navbar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-link {
    transition: color 0.3s, transform 0.3s;
    flex-grow: 1;
    text-align: center;
}

.nav-link:hover {
    color: #fff;
    transform: scale(1.2);
}

.navbar-collapse {
    justify-content: center;
}
